.cursor {
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.big {
    width: 30px;
    height: 30px;
    background: rgba(200, 160, 255, 0.24);
    mix-blend-mode: luminosity;
    z-index: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 180ms ease;
}

.small {
    width: 6px;
    height: 6px;
    background: white;
    mix-blend-mode: difference;
    z-index: 2;
}